@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@custom-variant dark (&:is(.dark *));

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-uw: 2560px;
  --breakpoint-suw: 3840px;

  --backdrop-blur-xs: 2px;
}

/* Hide global scrollbar */
::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.gradient-button {
  background: linear-gradient(to right, #0b698e 0%, #0b8e72 100%);
  color: white;
}

body {
  font-family: var(--font-figtree), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-crimson-pro), serif;
  font-weight: 500;
}

img[src^='/project']:not([src='/project4-process.png']):not(
    [src='/project2-process.png']
  ):not([src='/project4-business-question.png']):not(
    [src='/project2-quote.png']
  ):not([src='/project2-heuristic.png']):not([src='/project2-findings.png']):not(
    [src='/project1-interviewquotes.png']
  ):not([src='/project5-heuristics.png']):not(
    [src='/project5-personas.png']
  ):not([src='/project5-pythonscript.png']):not(
    [src='/project5-sociallistening.png']
  )
{
  border-radius: 0.5rem;
  border: 1px solid #e5e7eb;
}

.dark
  img[src^='/project']:not([src='/project4-process.png']):not(
    [src='/project2-process.png']
  ):not([src='/project4-business-question.png']):not(
    [src='/project2-quote.png']
  ):not([src='/project2-heuristic.png']):not([src='/project2-findings.png']):not(
    [src='/project1-interviewquotes.png']
  ):not([src='/project5-heuristics.png']):not(
    [src='/project5-personas.png']
  ):not([src='/project5-pythonscript.png']):not(
    [src='/project5-sociallistening.png']
  )
{
  border-color: #3f3f46;
}

.imon-parallax-container {
  position: relative;
  top: -4.6rem;
  margin-bottom: -4.125rem;
}

.imon-parallax-header-js {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  min-height: 130vh;
  padding-top: calc(2rem + 4.125rem);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
  font-size: initial;
  line-height: initial;
  position: relative;
  z-index: 0;
  transform: translateZ(0);
}

.imon-parallax-header-js h1 {
  font-size: 2.25rem !important;
  line-height: 1.1 !important;
  margin-top: 0;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  border-bottom: none !important;
  font-weight: 500 !important;
  text-align: center;
}

.imon-parallax-header-js .subtitle {
  font-size: 1.125rem;
  color: #2f3030;
  margin-top: 0.5rem;
  font-weight: normal;
  text-shadow: none;
  text-align: center;
}

.dark .imon-parallax-header-js .subtitle {
  color: #e4e4e7;
}

@media (min-width: 768px) {
  .imon-parallax-header-js h1 {
    font-size: 3rem !important;
    line-height: 1 !important;
  }
  .imon-parallax-header-js .subtitle {
    font-size: 1.25rem;
  }
}
@media (min-width: 1024px) {
  .imon-parallax-header-js h1 {
    font-size: 3.75rem !important;
  }
  .imon-parallax-header-js .subtitle {
    font-size: 1.5rem;
  }
}

.imon-content-wrapper .content-section {
  padding: 3rem 1rem;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.imon-content-inner {
  @apply prose prose-zinc dark:prose-invert mx-auto max-w-7xl;
}

.imon-content-inner figcaption {
  @apply mt-2 text-center text-sm text-zinc-600 dark:text-zinc-400;
}

.imon-content-inner h1,
.imon-content-inner h2,
.imon-content-inner h3,
.imon-content-inner h4 {
  @apply prose-headings:text-inherit dark:prose-headings:text-inherit clear-both text-center;
}

.imon-content-inner ul,
.imon-content-inner ol {
  @apply text-left;
}

.imon-content-inner figure.float-right {
  @apply float-right mb-4 ml-6 w-2/5 max-w-2/5;
}

.imon-content-inner figure.float-left {
  @apply float-left mr-6 mb-4 w-2/3 max-w-2/3;
}

.imon-content-inner a {
  @apply prose-a:text-inherit dark:prose-a:text-inherit;
}

.imon-content-inner li {
  @apply prose-li:my-1 dark:prose-li:my-1;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

.imon-parallax-header-js h1,
.imon-content-inner h1 {
  font-family: var(--font-crimson-pro), serif !important;
  font-weight: 500 !important;
}

.imon-content-inner h1 {
  font-size: 3rem !important;
  line-height: 1.1 !important;
  font-weight: 500 !important;
}

.imon-content-inner h2 {
  font-family: var(--font-crimson-pro), serif !important;
  font-size: 1.875rem !important;
  line-height: 1.25 !important;
  font-weight: 500 !important;
  color: inherit !important;
}

.imon-content-inner h3 {
  font-family: var(--font-crimson-pro), serif !important;
  font-size: 1.5rem !important;
  line-height: 1.4 !important;
  font-weight: 500 !important;
  color: inherit !important;
}

.hmw-container {
  @apply mx-auto my-12 w-full max-w-4xl py-12 text-center flow-root;
}

.hmw-line {
  @apply h-px w-full bg-zinc-300 dark:bg-zinc-700;
}

.hmw-text {
  @apply px-4 py-8 text-3xl font-medium text-zinc-800 dark:text-zinc-200;
  font-family: var(--font-crimson-pro), serif !important;
  line-height: 1.4 !important;
}

.hmw-jump-link {
  @apply text-sm font-semibold tracking-wider no-underline hover:underline;
}

.project-color-gold {
  background-image: url('/project1-bg-mobile.png');
}
.dark .project-color-gold {
  background-image: url('/project1-bg-mobile-dark.png');
}

.project-color-red {
  background-image: url('/project2-bg-mobile.png');
}
.dark .project-color-red {
  background-image: url('/project2-bg-mobile-dark.png');
}

.project-color-purple {
  background-image: url('/project3-bg-mobile.png');
}
.dark .project-color-purple {
  background-image: url('/project3-bg-mobile-dark.png');
}

.project-color-green {
  background-image: url('/project4-bg-mobile.png');
}
.dark .project-color-green {
  background-image: url('/project4-bg-mobile-dark.png');
}

.project-color-teal {
  background-image: url('/project5-bg-mobile.png');
}
.dark .project-color-teal {
  background-image: url('/project5-bg-mobile-dark.png');
}

.project-color-black {
  background-image: url('/project6-bg-mobile.png');
}
.dark .project-color-black {
  background-image: url('/project6-bg-mobile-dark.png');
}

@media (min-width: 768px) {
  .project-color-gold {
    background-image: url('/project1-bg-tablet.png');
  }
  .dark .project-color-gold {
    background-image: url('/project1-bg-tablet-dark.png');
  }

  .project-color-red {
    background-image: url('/project2-bg-tablet.png');
  }
  .dark .project-color-red {
    background-image: url('/project2-bg-tablet-dark.png');
  }

  .project-color-purple {
    background-image: url('/project3-bg-tablet.png');
  }
  .dark .project-color-purple {
    background-image: url('/project3-bg-tablet-dark.png');
  }

  .project-color-green {
    background-image: url('/project4-bg-tablet.png');
  }
  .dark .project-color-green {
    background-image: url('/project4-bg-tablet-dark.png');
  }

  .project-color-teal {
    background-image: url('/project5-bg-tablet.png');
  }
  .dark .project-color-teal {
    background-image: url('/project5-bg-tablet-dark.png');
  }

  .project-color-black {
    background-image: url('/project6-bg-tablet.png');
  }
  .dark .project-color-black {
    background-image: url('/project6-bg-tablet-dark.png');
  }
}

@media (min-width: 1851px) {
  .imon-parallax-header-js {
    min-height: calc(130vh + 4.125rem);
    padding-top: 40vh;
    justify-content: flex-start;
    background-attachment: fixed;
  }

  .project-color-gold {
    background-image: url('/project1-bg.png');
  }
  .dark .project-color-gold {
    background-image: url('/project1-bg-dark.png');
  }

  .project-color-red {
    background-image: url('/project2-bg.png');
  }
  .dark .project-color-red {
    background-image: url('/project2-bg-dark.png');
  }

  .project-color-purple {
    background-image: url('/project3-bg.png');
  }
  .dark .project-color-purple {
    background-image: url('/project3-bg-dark.png');
  }

  .project-color-green {
    background-image: url('/project4-bg.png');
  }
  .dark .project-color-green {
    background-image: url('/project4-bg-dark.png');
  }

  .project-color-teal {
    background-image: url('/project5-bg.png');
  }
  .dark .project-color-teal {
    background-image: url('/project5-bg-dark.png');
  }

  .project-color-black {
    background-image: url('/project6-bg.png');
  }
  .dark .project-color-black {
    background-image: url('/project6-bg-dark.png');
  }
}

.project-color-gold h1 {
  color: #c89828;
}
.project-color-red h1 {
  color: #e4504c;
}
.project-color-purple h1 {
  color: #9b6cc9;
}
.project-color-green h1 {
  color: #52af54;
}
.project-color-teal h1 {
  color: #0aabb5;
}
.project-color-black h1 {
  color: #000000;
}