@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@custom-variant dark (&:is(.dark *));

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-uw: 2560px;
  --breakpoint-suw: 3840px;

  --backdrop-blur-xs: 2px;
}

.gradient-text {
  background: linear-gradient(to right, #0B698E 0%, #0B8E72 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent !important;
  font-weight: 800 !important;
}

body {
  font-family: var(--font-figtree), sans-serif;
}

.prose p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
